<form (submit)="onSubmit($event)">
  <label for="search-request">
    search:
    <input
      type="text"
      id="search-request"
      name="searchRequest"
      [(ngModel)]="searchRequest"
    />
  </label>
</form>

<div *ngIf="tweets.length" class="clearfix">
  <div class="tweets">
    <div
      class="tweet"
      *ngFor="let tweet of tweets"
      (click)="onSelectTweet(tweet)"
      [class.selected]="tweet == selectedTweet"
    >
      <h4>{{ tweet.text }}</h4>
      <p>{{ tweet.created_at }}</p>
    </div>
  </div>

  <app-tweet-details [tweet]="selectedTweet"></app-tweet-details>
</div>
