.tweets {
  width: 50%;
  float: left;
}

.tweet-details {
  width: 50%;
  float: left;
}

.tweet {

}

.tweet:hover {
  cursor: pointer;
  background: #eeeeee;
}

.tweet.selected {
  background: #eaeaea;
}
