.mat-toolbar {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.shadow-gradient {
  background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar {

}

a.nav-link {
  background: transparent;
  color: #f5f5f5;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: text-shadow .4s;
}

a.nav-link.active {
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}

a.nav-link.active:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #f5f5f5;
  height: 3px;
}

a.nav-link:hover {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

a.nav-link:focus {
  outline: none;
}

.name-title {
  color: #f5f5f5;
  font-family: DoubleBassRegular, sans-serif;
  font-size: 30px;
  text-decoration: none;
  transition: color .3s;
  padding: 10px;
}

.name-title:hover {
  color: rgba(33, 33, 33, 0.35);
}

.github-link {
  color: #f5f5f5;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px 5px 5px 25px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
}

.github-icon:before {
  content: url(../../assets/icons/github-logo.svg);
  display: inline-block;
  left: -2px;
  margin: 5px;
  position: absolute;
  top: 4px;
  transition: all .3s;
}

.github-link:hover {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.transparent {
  background: transparent;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /*overflow: hidden;*/
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #f5f5f5;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}
