<mat-toolbar class="transparent">
  <a routerLink="/home" class="name-title">vk</a>
  <nav class="navbar">
    <a class="nav-link hvr-underline-from-left" routerLink="/home" routerLinkActive="active">home</a>
    <a class="nav-link hvr-underline-from-left" routerLink="/about" routerLinkActive="active">about</a>
    <a class="nav-link hvr-underline-from-left" routerLink="/examples" routerLinkActive="active">work</a>
  </nav>
  <a href="https://github.com/vladislav-klochkov" target="_blank" class="github-link hvr-underline-from-left">
    <i class="github-icon"></i>
    <i class="github-icon_hover"></i>
    github
  </a>
  <div class="shadow-gradient"></div>
</mat-toolbar>
