<div class="tweet-details" *ngIf="tweet" >
  <span>Id: {{ tweet.id }}</span>
  <div [innerHTML]="tweet.source"></div>
  <div class="user-info">
    <p>User: {{ tweet.user.name }}</p>
    <p>User id: {{ tweet.user.id}}</p>
    <img src="{{ tweet.user.profile_background_image_url }}" alt="user photo" />
  </div>
</div>
