<div class="app">
  <app-header></app-header>

  <div [@routerAnimations]="prepareRouterAnimation(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <app-arrows></app-arrows>
</div>
