.arrows {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: inline-block;
}

.arrows .wrapper {
  position: relative;
  width: 58px;
  height: 58px;
}

.arrows .arrow {
  display: inline-block;
  position: absolute;
  height: 0;
  width: 0;
  transition: border .3s;
}

.arrows .upper {
  border-bottom: 18px solid rgba(34, 34, 34, 0.4);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 0;
  left: 19px;
}

.arrows .upper:hover {
  cursor: pointer;
  border-bottom: 18px solid rgba(34, 34, 34, 0.6);
}

.arrows .lower {
  border-top: 18px solid rgba(34, 34, 34, 0.4);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 0;
  left: 19px;
}

.arrows .lower:hover {
  cursor: pointer;
  border-top: 18px solid rgba(34, 34, 34, 0.6);
}

.arrows .left {
  border-right: 18px solid rgba(34, 34, 34, 0.4);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 19px;
  left: 0;
}

.arrows .left:hover {
  cursor: pointer;
  border-right: 18px solid rgba(34, 34, 34, 0.6);
}

.arrows .right {
  border-left: 18px solid rgba(34, 34, 34, 0.4);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 19px;
  right: 0;
}

.arrows .right:hover {
  cursor: pointer;
  border-left: 18px solid rgba(34, 34, 34, 0.6);
}
