<div class="arrows">
  <div class="wrapper">
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="arrow upper"></div>
    <div class="arrow lower"></div>
  </div>
</div>
