@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

h1 {
  color: #369;
  font-family: Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia, sans-serif;
}

* {
  font-family: Helvetica, sans-serif;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: "DoubleBassRegular";
  src: url("assets/fonts/doublebass/doublebass.rial-regular.ttf");
}

@font-face {
  font-family: "DoubleBassThin";
  src: url("assets/fonts/doublebass/doublebass.rial-light.ttf");
}

@font-face {
  font-family: "AileronRegular";
  src: url("assets/fonts/aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: "AileronLight";
  src: url("assets/fonts/aileron/Aileron-Light.otf");
}

@font-face {
  font-family: "AileronThin";
  src: url("assets/fonts/aileron/Aileron-Thin.otf");
}

@font-face {
  font-family: "AileronUltraLight";
  src: url("assets/fonts/aileron/Aileron-UltraLight.otf");
}

