.home-page {
  background-image: -webkit-linear-gradient(225deg, #f45c43, #eb3349);
  background-image: linear-gradient(225deg, #f45c43, #eb3349);
  box-sizing: border-box;
  height: 100vh;
  padding: 100px 0 40px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.home-page-heading {
  width: 70%;
  margin: 0 15%;
  z-index: 2;
}

.home-page-heading h2 {
  color: #f5f5f5;
  font-size: 66px;
  font-family: AileronLight, sans-serif;
  text-transform: uppercase;
  margin: 0;
  transition: text-shadow .8s;
  text-shadow: 0 3px 0 #b2a98f,
               0 10px 10px rgba(0,0,0,0.15),
               0 18px 2px rgba(0,0,0,0.1),
               0 26px 30px rgba(0,0,0,0.1);
}

.home-page-heading h4 {
  color: rgba(245, 245, 245, 0.5);
  font-size: 55px;
  font-family: AileronUltraLight, sans-serif;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.home-page-text {
  width: 70%;
  margin: 0 15%;
  z-index: 2;
}

.home-page-text p {
  color: rgba(245, 245, 245, 0.9);
  font-size: 20px;
  font-family: AileronRegular, sans-serif;
  line-height: 35px;
  margin: 0;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.bubbles-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#bubbles-canvas {
  width: 100%;
  height: 100%;
}

.keyboard-icon:before {
  content: url(../../assets/icons/keyboard.svg);
  display: inline-block;
}

.mouse-icon:before {
  content: url(../../assets/icons/mouse.svg);
  display: inline-block;
}

.navigation-info {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: text-shadow .3s;
  z-index: 2;
}

.navigation-info:hover {
  text-shadow: 3px 5px 3px rgba(0,0,0,0.6);
}

.navigation-info span {
  color: #ffffff;
  font-family: AileronLight, sans-serif;
  font-size: 18px;
  padding: 0 10px;
}

