<div class="home-page">
  <div class="navigation-info">
    <span>Please, use</span>
    <i class="keyboard-icon"></i>
    <span>or</span>
    <i class="mouse-icon"></i>
    <span>to navigate.</span>
  </div>

  <div class="home-page-heading">
    <h2>welcome to my blog</h2>
    <h4>enjoy your reading</h4>
  </div>

  <div class="home-page-text">
    <p>This is my personal blog about <strong>web-development</strong>, <strong>coding</strong> and other cool stuff...</p>
    <p>It would be super cool, if you find some new and useful information here.</p>
  </div>

  <div class="bubbles-wrapper">
    <canvas id="bubbles-canvas"></canvas>
  </div>
</div>

